.style{
    background-color: white;
    color: black;
    font-size: 1rem;
    margin: 1px;
    padding-bottom: 80px;
   
}
@media (max-device-aspect-ratio: 480px) {
    .style{font-size: 0.2em; margin: 1px;}
}
@media (max-device-aspect-ratio: 960px) {
    .style{font-size: 1.2em;margin: 1px;}
}
@media (max-device-aspect-ratio: 2000px) {
    .style{font-size: 1.4em;margin: 1px;}
}

.borda{
    border-radius: 8px;
    border-color: blue;
}
.paragrafo{
   margin-right: 15px;
   float: right;
   padding-top: 2%;
}
.cont1{
  float: left;
  width: 33%;
  padding-left: 10%;
  padding-top: 6%;
}
.cont2{
 float: left;
 width: 33%;
 padding-left: 10%;
 padding-top: 6%;
}
.cont3{
  float: left;
  width: 33%;
  padding-left: 10%;
  padding-top:6%;
}
.image{
    max-width: 100%;
    height:auto;
}
.conteudo3{
  display: flex;
  align-items: center;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 8%;
  text-align: center;
}
.conteudo1{
  max-width: 100%;
  padding-top: 2%;
}
.conteudo2{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2%;
  font-size: small;
}
.imagem{
   display: table-cell;
   margin-left: 250px;
   margin-top: 110px;
}
.imagem1{
   width: 200px;
   display: table-cell;
   padding: 50%;
}

.texto{
   width: 200px;
   margin-left: 15px;
   margin-top: 110px;
   }
.botao{
    position:relative;
    float: left;
    margin-left: 600px;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
.botao2{
    position:relative;
    float: right;
    margin-right: 600px;
    max-width: 100%;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
.imagem:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}
.imagem1:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}
   
.input_buton{
    background-color: #CCC;
    color: black; 
    border-radius: 10px;
    border-color: black;
    border-width: 1px; 
    max-width: 100%;
}
.botaosubmit{
    background-color: #CCC;
    font-family: sans-serif;
    font-weight: normal;
    font-size: initial;
    color: black; 
    border-radius: 10px;
    border-color: black;
    border-width: 1px; 
    height: 30px;
}
.botaosubmit:hover{
    cursor: pointer;
}

.back{
    position: relative;
    float: left;
    padding-left:2%;
    padding-top: 2%
}
.div1 {
      border:#00c;
      text-align: center;
      color: white;
      background-color: midnightblue;
      max-width: 100%;
      position:relative;
}

.vertical-align {
  position: relative;
  padding-top: 1%;
  max-width: 100%;
  text-align:  center;
}

.p1 {
  max-width: 100%;
  max-height: 60%;
  left: 0;
  position:relative;
  overflow-y: auto;
  
 
}
.p2 {
  width: 100%;
  left: 0;
  top: 170px;
  position:relative;
  overflow-y: scroll;
  alignment-adjust: central;
}
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    line-height: 80px;
    background-color: midnightblue;
    text-align: center;
    color: white;
    clear:both;
}
